* {
    font-family: "lato", sans-serif;
    font-weight: bold;
    /* background: green; */
}

body {
    background: rgb(245, 245, 245);
    color: #555555;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(354deg, rgba(2,0,36,1) 0%, rgba(9,121,90,0.9304096638655462) 10%, rgba(0,212,255,1) 100%);
}

.container {
    display: block;
    width: 350px;
    margin: 0 auto;
    height: fit-content;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

form input[type='text'] {
    outline: none;
    height: 30px;
    border-radius: 4px;
    padding: 3px 10px;
    border: 1px solid #906c6c;
}
input[type='text']:focus {
    outline: none;
  }

button {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    background: #476085;
}

input[type='checkbox'] {
    cursor: pointer;
}